@model SiteMapPathHelperModel
@{
    var currentNode = @Model.Nodes.FirstOrDefault(x => x.IsCurrentNode);
}

@if (currentNode != null) {
    <ul class="page-breadcrumb breadcrumb">
        @foreach (var item in Model.Nodes)
        {
            <li class="start @(item.IsCurrentNode ? "active" : "")">
                <a href="" ng-href="@(item.IsClickable ? "#" + item.Url : "")" @(String.Join(" ", item.Attributes.Where(x => x.Key.StartsWith("data-", StringComparison.OrdinalIgnoreCase)).Select(x => String.Format("{0}=\"{1}\"", x.Key, x.Value))))>
                    <span class="title">@item.Title</span>
                    @if (item.IsCurrentNode)
                    {
                        <span class="selected"></span>
                    }
                </a>
                @if (!item.IsCurrentNode)
                {
                    <i class="fa fa-circle"></i>
                }
            </li>
        }
    </ul>
}