@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.IsClickable || Model.Children.Any())
{
    var hasChildren = Model.Children != null && Model.Children.Any();
    var itemClass = Model.IsCurrentNode ? "active" : "";
    var itemUrl = Model.IsClickable ? "#" + Model.Url : "javascript:;";
    itemClass = itemClass + (hasChildren ? " menu-dropdown classic-menu-dropdown" : "");
    
    <li class="@itemClass">
        @if (hasChildren) { 
            <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="@itemUrl">
                @Model.Title
            </a>
        } else {
            <a href="@itemUrl">@Model.Title</a>
        }
        @if (Model.Children != null && Model.Children.Any())
        {
            <ul class="dropdown-menu pull-left">

                @foreach (var node in Model.Children)
                {
                    @Html.DisplayFor(m => node)
                }
            </ul>
        }
    </li>
}