@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.IsClickable || Model.Children.Any())
{
    var itemClass = Model.IsCurrentNode ? "active" : "";
    var itemUrl = Model.IsClickable ? Model.Url : "javascript:;";
    
    <li class="@itemClass">
        <a href="#@itemUrl">
            @if (Model.Attributes.Any(x => x.Key == "icon"))
            {
                <i class="fa @String.Join(" ", Model.Attributes.Where(x => x.Key == "icon").Select(x=> x.Value))"></i>
            }
            <span class="title">@Model.Title</span>
            <span class="selected"></span>
            @if (Model.Children != null && Model.Children.Any()) 
            {
                <span class="arrow @(Model.IsCurrentNode ? "open" : "")"></span>
            }
        </a>
        @if (Model.Children != null && Model.Children.Any())
        {
            <ul class="sub-menu">
                @foreach (var node in Model.Children)
                {
                    @Html.DisplayFor(m => node)
                }
            </ul>
        }
    </li>
}