<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js" data-ng-app="webApp" data-ng-controller="layoutController">
<!--<![endif]-->
@Html.Partial("Head")

<body class="page-header-fixed page-sidebar-closed-hide-logo">

    @Html.Partial("Header")

    <div class="page-container" data-ng-view="">
        @RenderBody()
    </div>

    @Html.Partial("Footer")

    <!--[if lt IE 9]>
    @Scripts.Render("~/content/plugins-ltie9-js")
    <![endif]-->
    @Scripts.Render("~/content/plugins-js")
    @Scripts.Render("~/content/metronic-js")

    @Scripts.Render("~/content/angular-js")
    @{
        var twoLettersISOLanguageCode = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
    }
    @Scripts.Render("~/Content/Angular/i18n/angular-locale_" + twoLettersISOLanguageCode + ".js")
    @Scripts.Render("~/content/signalr-js")
    <script src="~/signalr/hubs"></script>
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/content/meguro-js")
</body>

</html>