@model User

<div class="row form-horizontal">
    <div class="@BootstrapColumns.Medium.Col12">
        <div class="form-body">
            <div class="form-group">
                <div class="control-label @BootstrapColumns.Medium.Col4">
                    @Html.DisplayNameFor(c => c.Username)
                    <span class="required" aria-required="true">*</span>
                </div>
                <div class="@BootstrapColumns.Medium.Col8">
                    <div class="input-icon right">
                        @Html.EditorFor(c => c.Username, new { htmlAttributes = new { @class = "form-control", @data_ng_model = "data.Username" } })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label @BootstrapColumns.Medium.Col4">
                    @Html.DisplayNameFor(c => c.Email)
                    <span class="required" aria-required="true">*</span>
                </div>
                <div class="@BootstrapColumns.Medium.Col8">
                    <div class="input-icon right">
                        @Html.EditorFor(c => c.Email, new { htmlAttributes = new { @class = "form-control", @data_ng_model = "data.Email" } })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label @BootstrapColumns.Medium.Col4">
                    @Html.DisplayNameFor(c => c.Group)
                    <span class="required" aria-required="true">*</span>
                </div>
                <div class="@BootstrapColumns.Medium.Col8">
                    @Html.TextBoxFor(x => x.GroupId, new
                    {
                        @class = "form-control",
                        @data_serverdropdown = "",
                        @data_sd_url = "/group/getallreferential",
                        @data_sd_label = "Label",
                        @data_sd_val = "Id",
                        @data_sd_multiple = "false",
                        @data_ng_model = "data.GroupId"
                    })
                </div>
            </div>
        </div>
    </div>
</div>