@model Area

<div class="row">
    <div class="@BootstrapColumns.Medium.Col12 @BootstrapColumns.Small.Col12">
        <div class="portlet light" id="portletArea">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>
                    <span class="caption-subject bold uppercase">Area management</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default ng-fullscreen" ng-click="handlePortletFullscreen('portletArea')" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table data-tt="" data-tt-table="" data-tt-params="areaParams" data-tt-id-selector="Id" data-tt-children-selector="SortedChildren" class="table table-bordered table-striped table-condensed flip-content" data-tt-rowtemplate="areaRowTemplate">
                    <thead>
                        <tr>
                            <th style="width: 13px"></th>
                            <th style="width: 13px"></th>
                            <th>Label</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <a data-ng-click="createArea()" title="@Resources.Global.Add" class="pull-right" href="javascript:void(0);"><i class="fa @FontAwesome.Plus_square"></i>&nbsp;@Resources.Global.Add</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="areaRowTemplate">
    <tr data-tt-node="">
        <td><a data-ng-click="openArea(node.Id)" title="@Resources.Global.View"><i class="fa @FontAwesome.Search"></i></a></td>
        <td><a data-ng-click="deleteArea(node.Id)" title="@Resources.Global.View"><i class="fa @FontAwesome.Trash"></i></a></td>
        <td>{{node.Label}}</td>
    </tr>
</script>